# temp files
*~

.vagrant/
host_vars/
ubuntu-xenial-16.04-cloudimg-console.log

*.swp

# private files
.private
.prv
*.save
*.retry
.vault
ansible.log
bridged_adapter
facts/
port_speed
# directories

